// Add your app styles here
body {
    font-family: 'Lato', sans-serif;
    .title {
        @include from($desktop) {
            font-size: 2.3rem;
        }
        @include touch {
            font-size: 1.25rem;
            text-align: center;
        }
        letter-spacing: -0.5px
    }
    .text {
        font-size: 1.12rem;
        @include touch {
            text-align: center;
        }
    }
}

.is-right {
    text-align: right;
}

.img-centered {
    display: block;
    margin: auto;
}

.app {
    background-color: #ffffff;
    padding-left: 0;
    padding-right: 0;
    .header-title {
        @include from($desktop) {
            font-size: 2.8rem;
        }
        @include touch {
            font-size: 2rem;
        }
        font-weight: 600;
        line-height: 1.125;
        letter-spacing: -0.5px;
        .heart {
            color: #b71c1c;
        }
    }
    .is-primary {
        background-color: #0058ff;
        font-weight: lighter;
        font-size: 1.1rem;
    }
    .video {
        p {
            margin-bottom: 8px;
        }
    }
    .phone {
        #phone {
            width: 100%;
        }
    }
    .planets {
        margin-top: -31%;
        padding-bottom: 32%;
        #planet1 {
            width: 21%;
            position: absolute;
            padding-left: 10%;
            padding-top: 3%;
            animation: animate 5s linear;
        }
        @keyframes animate {
            0% {
                opacity: 0;
            }
            65% {
                opacity: 1;
            }
        }
        #astronaut {
            width: 40%;
            position: absolute;
            padding-left: 27%;
            margin-top: 7%;
            animation: animate2 4s linear 1.8s 1 normal backwards, forwards;
        }
        @keyframes animate2 {
            0% {
                opacity: 0;
            }
            65% {
                opacity: 1;
            }
        }
        #planet2 {
            width: 62%;
            position: absolute;
            padding-left: 50%;
            animation: animate3 3s linear 3.5s 1 normal backwards, forwards;
        }
        @keyframes animate3 {
            0% {
                opacity: 0;
            }
            65% {
                opacity: 1;
            }
        }
        #planet3 {
            width: 81%;
            position: absolute;
            padding-left: 70%;
            animation: animate4 2s linear 5s 1 normal backwards, forwards;
        }
        @keyframes animate4 {
            0% {
                opacity: 0;
            }
            65% {
                opacity: 1;
            }
        }
    }
    #arrow {
        display: block;
        margin: auto;
    }
}

.centered-in-touch {
    @include touch {
        text-align: center;
    }
}

.vertically-centered {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.blog {
    .card-shadow {
        box-shadow: 0 23px 41px 0 #dee1f1 !important;
    }
    .rectangle {
        width: 33px;
        height: 4px;
        border-radius: 2.5px;
        background-color: #0058ff;
    }
    .card-item-preview {
        max-height: 295px;
    }
    .item-blog {
        img {
            height: 273px;
            width: 240px;
        }
    }
}

.footer {
    background-color: $bg-footer;
    color: #ffffff;
    font-weight: 300;
    .directory {
        font-size: 18px;
    }
    a.directory {
        color: #ffffff;
        margin-bottom: 1em;
    }
}

.margin-button {
    margin-top: 1rem;
}

.pricing {
 .main-title {
   font-family: Lato;
   font-size: 2.25rem !important;
   font-weight: bold;
 }
 .card-title{
   font-family: Lato;
   font-size: 1.5rem !important;
   font-weight: bold;
 }

 .switch-text {
   font-size: 1.5rem;
   font-weight: 300;
 }

 .switch[type=checkbox] + label {
   position: relative;
   display: initial;
   font-size: 1.5rem;
   line-height: initial;
   padding-left: 3.5rem;
   padding-top: -1.9rem;
   cursor: pointer;

 }

 .switch[type=checkbox]:checked + label::before, .switch[type=checkbox]:checked + label:before {
   background: $bg-blue;
 }

}