@include touch {
 .blog {
    .card-shadow {
        box-shadow: 0 23px 41px 0 #dee1f1 !important;
    }
    .rectangle {
        width: 33px;
        height: 4px;
        border-radius: 2.5px;
        background-color: #0058ff;
    }

    .card-item-preview{
        max-height: 295px;
    }
    .item-blog {
        img {
            height: 273px;
            width: 100%;
        }
    }
}
}