.margin-sides-icon {
  margin-left: 3px;
  margin-right: 3px;
}

.is-border-radius{
    border-radius: 10px;
}

.is-margin-left-small{
    margin-left: 1rem;
}

.is-margin-right-small{
    margin-right: 1rem;
}

.is-padding-left-small{
    padding-left: 1rem;
}

.is-padding-right-small{
    padding-right: 1rem;
}

.is-font-size-32px{
    font-size: 32px;
}
.is-font-size-24px{
    font-size: 24px;
}

.is-vertical-center {
    display: flex;
    align-items: center;
  }
  